* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  background-color: #303030;
  background-image: url('/images/backgrounds/rain.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-weight: 300;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 300ms;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}
