.Forecast {
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.Forecast-now {
  text-align: center;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Forecast-temperature {
  font-weight: 300;
  font-size: 10em;
  color: white;
}

.Forecast-high {
  color: #fcc;
  margin-right: 10px;
  font-size: 2em;
}
.Forecast-low {
  color: #ccf;
  font-size: 2em;
}

.Forecast-location {
  margin-top: 10px;
}

.Forecast-loading {
  margin-top: 10px;
}
